@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #d67e7e, #ffb1b1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.search {
    position: relative;
    height: 40px;
}

.search .input {
    border-radius: 20px;
    background-color: #fff;
    border: none;
    font-size: 15px;
    padding: 14px;
    height: 40px;
    width: 40px;
    transition: width 0.3s ease;
}

.btn {
    border-radius: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(199px);
}